{
    "SchemaVersion": "2.0",
    "Config": {
        "GlobalMixer": {
            "PrintInstructions": false,
            "UseDriverTipTracking": true
        },

        "GilsonPipetMax": {
            "Devices": {
                "Gillian": {
                    "Connection": "file:///home/matthew/src/Go_external_1.11/src/github.com/Synthace/instruction-plugins/PipetMax/PipetMax",
                    "InputPlateTypes": ["pcrplate_skirted"]
                }
            }
        },
        "Labcyte": {
            "Devices": {
                "Larry": {
                    "Connection": "go://github.com/Synthace/instruction-plugins/LabcyteEcho",
                    "Model": "525",
                    "InputPlateTypes": ["pcrplate_skirted"]
                }
            }
        },
        "Tecan": {
            "Devices": {
                "Trevor": {
                    "Connection": "go://github.com/Synthace/instruction-plugins/TecanScript",
                    "Model": "Evo",
                    "InputPlateTypes": ["pcrplate_skirted"]
                }
            }
        },
        "CyBio": {
            "Devices": {
                "Cydney": {
                    "Connection": "go://github.com/Synthace/instruction-plugins/CyBioXML",
                    "Model": "Felix",
                    "InputPlateTypes": ["pcrplate_skirted"]
                }
            }
        },

        "QPCR": {
            "Devices": {
                "Benny": {}
            }
        }
    }
}
