{
    "SchemaVersion": "2.0",
    "WorkflowId": "abc",

    "Elements": {
        "Types": [
            {
                "RepositoryName": "repos.antha.com/antha-ninja/elements-westeros",
                "ElementPath": "Elements/New-MVL/Aliquot_Liquid"
            }
        ],

        "Instances": {
            "my_aliquot": {
                "ElementTypeName": "Aliquot_Liquid",
                "Meta": {
                    "x": 140,
                    "y": 553
                },
                "Parameters": {
                    "ByRow": false,
                    "LiquidToAliquot": "water",
                    "OutPlate": "SRWFB96_riser18",
                    "Replicates": 8,
                    "VolumePerAliquot": "50ul"
                }
            }
        }
    }
}
